body {
	margin: 0;
}

#canvas-container {
	background: -webkit-linear-gradient(#D8D8D8, #6E6E6E);
	background: -o-linear-gradient(#D8D8D8, #6E6E6E);
	background: -moz-linear-gradient(#D8D8D8, #6E6E6E);
	background: linear-gradient(#D8D8D8, #6E6E6E);
}