$blue: #00FFFF;
$pink: #FF00FF;
$yellow: #FFFF00;

body.container-fluid {
	margin: 0;
	padding: 0;
}

.socialmedia {
	max-width: 5.5em;
	position: absolute;
}

div.col-xs-2, div.col-sm-1 {
	padding: 0;
}

@media (max-width: 768px) {
	.socialmedia {
		width: 100%;
		position: relative;
	}
}

img.icon {
	width: 2em;
	margin: 0.4em 0 0 0.2em;
}

body {
	p {
	font-size: 1em;
	}
	h1 {
		font-size: 2em;
	}
}


#canvas-container {
	background: -webkit-linear-gradient(#D8D8D8, #6E6E6E);
	background: -o-linear-gradient(#D8D8D8, #6E6E6E);
	background: -moz-linear-gradient(#D8D8D8, #6E6E6E);
	background: linear-gradient(#D8D8D8, #6E6E6E);
}

.banner {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 1em;
	width: 100%;
}

.controls {
	position: absolute;
	top: 10em;
	left: 1em;
	width: 2em;
}

@media (max-width: 768px) {
    .controls {
		position: absolute;
		top: 13.8em;
	}
}

#introduction-message {
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-align: center;
}

button {
	border-radius: 0;
	height: 2em;
	width: 2em;
	background-color: #848484;
}
button.blue {
	background-color: $blue;
}

button.yellow {
	background-color: $yellow;
}

button.pink {
	background-color: $pink;
}

button.black {
	background-color: black;
}

button.white {
	background-color: white;
}

button.plus {
	margin-top: 1em;
}

.whiteboard-buttons {
	position: absolute;
	top: 7.3em;
	width: 100%;
	button {
		width: 33%;
		color: white;
	}
}

@media (max-width: 768px) {
	.whiteboard-buttons {
		top: 8.8em;
		button {
			width: 50%;
			float: left;
		}
	}
}


