$blue: #00FFFF;
$pink: #FF00FF;
$yellow: #FFFF00;

body.container-fluid {
	margin: 0;
	padding: 0;
}

#canvas-container {
	background: -webkit-linear-gradient(#D8D8D8, #6E6E6E);
	background: -o-linear-gradient(#D8D8D8, #6E6E6E);
	background: -moz-linear-gradient(#D8D8D8, #6E6E6E);
	background: linear-gradient(#D8D8D8, #6E6E6E);
}

.banner {
	position: absolute;
	top: 1em;
	width: 100%;
}

.controls {
	position: absolute;
	top: 9em;
	left: 1em;
	width: 2em;
}

@media (max-width: 585px) {
    .controls {
		position: absolute;
		top: 13em;
	}
}

#introduction-message {
	width: 100%;
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	text-align: center;
}

button {
	border-radius: 0;
	height: 2em;
	width: 2em;
	background-color: #848484;
}
button.blue {
	background-color: $blue;
}

button.yellow {
	background-color: $yellow;
}

button.pink {
	background-color: $pink;
}

button.black {
	background-color: black;
}

button.white {
	background-color: white;
}

button.plus {
	margin-top: 1em;
}
